@model StudentsManagement.Models.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTime)
        </dd>

    </dl>
</div>
<p>
    <div class="btn-group">
        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", new { id = Model.SID })" role="button">Edit</a>
        <a class="btn btn-info btn-sm" href="@Url.Action("Index")">Back</a>
    </div>
</p>
</p>
