<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="@Url.Action("InitStu","Lin")">初始化</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="@Url.Action("Index","Lin")" style="font-family:'LEIXO DEMO';font-weight:bold; font-size:large">Student management system</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#">
                        <svg xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3" focusable="false" role="img"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                </div>
            </div>
        </header>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Users")" style="color:#000000;font-family:'LEIXO DEMO';font-size:small">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Scores")" style="color:#000000;font-family:'LEIXO DEMO';font-size:small">Score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Courses")" style="color:#000000;font-family:'LEIXO DEMO';font-size:small">Course</a>
            </li>
        </ul>
    </div>

    <div class="container body-content mt-md-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @DateTime.Now.Month - @DateTime.Now.Day - Lin's Student management system</p>
        </footer>
    </div>
</body>
</html>